<h1 class="text-center"><%= @todo_list.name %></h1>

<hr>

<%= form_for [@todo_list, @todo], remote: true do |f| %>
  <div class="form-group">
    <%= f.text_field :name, class: "form-control", placeholder: "Add a new todo..." %>
  </div>
<% end %>

<ul class="todos uncompleted list-unstyled">
  <%= render @todo_list.uncompleted_todos %>
</ul>

<ul class="todos completed list-unstyled">
  <%= render @todo_list.completed_todos %>
</ul>
