<h1><%= @todo_list.name %></h1>

<%= form_for [@todo_list, @todo] do |f| %>
  <div class="form-group">
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <%= f.submit class: "btn btn-primary" %>
<% end %>

<ul>
  <%= render @todo_list.todos %>
</ul>
